# Node.js dependencies
node_modules/
.env
npm-debug.log
dist/
build/
coverage/
.DS_Store

# React build files
node_modules/
.env
build/
.cache/
dist/
.DS_Store

# OS & Editor files
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
